.row
  .col-lg-6
    %ul.list-unstyled
      - if @categories.any?
        - @categories.each do |category|
          %li
            %a{href: "/categories/#{category.id}"} 
              = category.name
      - else
        No categories yet :(
